img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin-top: 10px;
    transition: transform 0.2s;
}
h1 {
    text-align: center;
}

a {
    color: black;
    font-size: clamp(20px, 3vw, 35px);
    text-decoration: none;
}

a span {
    display: inline-block;
    transition: transform 0.2s, color 0.2s;
}

a span:hover {
    color: darkblue;
    transform: scale(1.1);
}

img:hover {
    transform: scale(1.05);
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
}

li {
    list-style-type: none;
    flex: 0 1 364px;
}