* {
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: clamp(30px, 5vw, 50px);
}

body {
    margin: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px;
    margin: 0;
}

li {
    list-style-type: none;
    flex: 0 1 364px;
    max-width: 100%;
}

img {
    display: block;
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    margin-top: 10px;
    transition: transform 0.2s;
}

a {
    color: black;
    font-size: clamp(20px, 3vw, 35px);
}